<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="error" strict="true" name="gateway_on_promise">
               
  <Properties>
    <Property name="pattern">%d %p %c{1.} [%t] %m%n</Property>
    <!-- 应用名称 -->
    <Property name="APP">
      <![CDATA[ldt-h5-demo]]>
    </Property>
    <!-- 日志输出路径 -->
    <!-- /var/log/tomcat/${APP} -->
    <Property name="APP_LOG_HOME">${sys:user.home}/log/ldt-h5-demo</Property>
  </Properties>
 
  <Appenders>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p - %m%n" />
    </Console>

    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout" pattern="${pattern}"/>
    </Appender>

    <RollingRandomAccessFile name="file-debug"
                             fileName="${APP_LOG_HOME}/${APP}-debug.log" filePattern="${APP_LOG_HOME}/$${date:yyyy-MM}/${APP}-debug-%d{yyyyMMdd}_%i.log.gz">
      <PatternLayout
              pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%t] [%X{SPKG}] %c - %msg%n" />
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"
                                   modulate="true" />
        <SizeBasedTriggeringPolicy size="50 MB" />
      </Policies>
      <DefaultRolloverStrategy fileIndex="max" max="1000">
        <Delete basePath="${APP_LOG_HOME}/" maxDepth="2">
          <IfFileName glob="*/*.log.gz" />
          <IfLastModified age="30d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>

  </Appenders>
 
  <Loggers>

    <!-- 单独调高spring的日志输出级别，避免输出太多日志  -->
    <Logger name="org.springframework" level="warn"
                 additivity="false">
      <AppenderRef ref="file-debug" />
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="io.netty" level="warn"
            additivity="false">
      <AppenderRef ref="file-debug" />
    </Logger>
    <Logger name="io.lettuce" level="warn"
            additivity="false">
      <AppenderRef ref="file-debug" />
    </Logger>
	
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="file-debug" />
    </Root>
    
  </Loggers>
 
</Configuration>
